*.*~
*.a
*.bsc
*.cmake
*.dll
*.dSYM
*.dylib
*.exp
*.ilk
*.lib
*.mdb
*.nupkg
*.opensdf
*.pdb
*.resources
*.sdf
*.suo
*.swp
*.user
*.userprefs
*.zip
.DS_Store
bin/
build/
Debug/
docs/
ipch/
lib/
obj/
Release/
Upload/
/test/*
!/test/*.cpp
!/test/*.txt
Thumbs.db
